.task-container {
  padding: 20px 10px;
  border-top: 8px solid #00E676;
  border-radius: 6px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  margin-bottom: 4px;
  height: 210px;
  max-height: 210px;
  min-width: 364px;

  .task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 16px;

    .task-header-text {
      overflow: hidden;
      display: grid;
    }
  }

  .task-view-more {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 3px 16px;
  }

  .task-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .task-date {
    color: #969696;
  }

  .mat-card-content {
    height: calc(100% - 66px);
  }

  .task-description {
    height: 100%;
    margin: 0 16px;
    padding: 0 8px;
    text-align: justify;
    overflow: auto;
    //display: -webkit-box;
    //-webkit-box-orient: vertical;
    //-webkit-line-clamp: 4;
  }
}
