.tasks-board-container {
  width: 100%;
  min-height: calc(100% - 64px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 48px;
  box-sizing: border-box;
}

.tasks-group-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  h1 {
    margin-bottom: 48px;
  }

  &:not(:last-child) {
    margin-right: 36px;
  }
  &:not(:first-child) {
    margin-left: 36px;
  }
}

.tasks-list {
  border-radius: 4px;
  overflow: hidden;
  flex: 1;

  .task-item {
    margin-bottom: 16px;
  }
}

.tasks-board-divider {
  border-color: #303030;
  padding-right: 1px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-item:last-child {
  border: none;
}

.tasks-list.cdk-drop-list-dragging .task-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
