@import 'assets/scss/_global.scss';

html, body {
  height: 100%;
}

body {
  padding: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #ededed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
